@import "@certifaction/pdfjs/dist/pdf_viewer_scss";

.pdf-viewer {
    --pdfviewer-color-controls-font: rgba(#14213d, 0.8);
    --pdfviewer-color-controls-background: #f1f5f9;
    position: relative;
    font-family: $font-family-sans-serif;
    font-size: $font-size-normal;

    *,
    :before,
    :after {
        box-sizing: border-box;
    }

    .viewer-container {
        position: absolute;
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: #343435;

        .viewer {
            position: relative;

            .page {
                box-sizing: content-box;
            }
        }
    }

    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
        position: absolute;
        z-index: 100;
        bottom: 20px;
        left: 50%;
        box-shadow: 0 0 6px rgba(#343435, 0.8);
        border-radius: 3px;
        padding: 10px;
        background-color: rgba(#343435, 0.9);

        .pages {
            margin-bottom: 6px;
            color: white;
        }

        .scale {
            display: flex;
            align-items: center;
        }

        .btn {
            padding: 6px 8px;

            &.download-button {
                margin-left: 12px;
            }

            .md-icon {
                width: 20px;
                height: 20px;
            }
        }

        .scale-selector {
            margin-left: 12px;
            border-radius: 3px;
            padding: 4px 6px;

            option {
                &.hidden {
                    display: none;
                }
            }
        }
    }

    .controls-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 100;
        top: 16px;
        padding: 0 24px;
        width: 100%;

        .pages {
            padding: 8px;
            background: var(--pdfviewer-color-controls-background);
            color: var(--pdfviewer-color-controls-font);
            border-radius: 8px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
        }

        .scale {
            display: flex;
            align-items: center;
            gap: 8px;

            .scale-button {
                cursor: pointer;
                padding: 8px;
                background: var(--pdfviewer-color-controls-background);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                color: var(--pdfviewer-color-controls-font);

                .md-icon {
                    margin-top: 2px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .pdf-viewer {
        .controls {
            flex-direction: row;

            .pages {
                margin-bottom: 0;
            }

            .scale {
                margin-left: 12px;
            }
        }
    }
}
